.password-strength {
    height: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;
}

.password-strength span {
    height: 100%;
    display: block;
    transition: width 0.3s ease-in-out;
}

#poor {
    width: 0%;
    background-color: #ff4d4d;
}

#weak {
    width: 0%;
    background-color: #ffa64d;
}

#strong {
    width: 0%;
    background-color: #ffff4d;
}

#heavy {
    width: 0%;
    background-color: #4dff4d;
}

#passwordInfo {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}

.pass-group {
    position: relative;
}
